
	.title {
  font-family: "ready active test";
  font-weight: 300;
  line-height: 1.05;
}

.title-alt {
    font-family: "ready active test";
  font-weight: 300;
  line-height: 0.7;
  font-size: 100px;
}

.line-one {
  display: block;
}

.line-two {
  display: block;
  font-size: 220px;
}

.big {
  font-size: 180px;
}

.small {
  font-size: 150px;
  margin-left: 6px;
  font-weight: 300;
  position: relative;
  top: 6px; 
}

.p1 {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: red;
} 

h1 {
  text-align: center;
}

.description {
  margin: 60px auto 0; 
  text-align: left;
  max-width: 1000px;
}


.p2{
margin: 20px auto 0; 
  text-align: left;    
  max-width: 1000px; 
}

.letter {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.1s;
}

.letter:hover {
  transform: scale(1.2); 
  font-weight: 400;
  color: #7b0323;
} 

.letter:focus-visible {
  transform: scale(1.2);
  font-weight: 400;
  color: #7b0323;
  outline: none;
}

.letter {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;

  cursor: pointer;
  display: inline-block;
  transition: transform 0.15s ease, color 0.15s ease;
}

@media (max-width: 480px) {
  .title {
    font-family: "ready active test";
    font-weight: 300;
    line-height: 1.05;
  }

  .line-one {
    display: block;
  }

  .line-two {
    display: block;
    font-size: 72px;
  }

  .big {
    font-size: 64px;
  }

  .small {
    font-size: 50px;
    margin-left: 6px;
    font-weight: 300;
    position: relative;
    top: 6px;
  }

  .description {
  margin-top: 60px;
  margin: 60px auto; 
  text-align: left;
  max-width: 600px;
  padding: 25px;
}

.title-alt {
    font-family: "ready active test";
  font-weight: 300;
  line-height: 0.7;
  font-size: 110px;
}
}
